In [11]:
#1
import pandas as pd

titanic_df = pd.read_csv("titanic.csv")
print(titanic_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB
None

In [1]:
#2
import pandas as pd

# Read the Titanic dataset from CSV file
titanic_df = pd.read_csv('titanic.csv')

# Extract column labels
column_labels = titanic_df.columns.tolist()

# Get the shape of the dataset
data_shape = titanic_df.shape

# Get data types of the columns
data_types = titanic_df.dtypes

# Print column labels
print("Column Labels:")
print(column_labels)

# Print shape of the dataset
print("\nData Shape:")
print(data_shape)

# Print data types of the columns
print("\nData Types:")
print(data_types)

Column Labels:
['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone', 'Unnamed: 15']

Data Shape:
(891, 16)

Data Types:
survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object

In [ ]:
#3
import pandas as pd

# Read the Titanic dataset from CSV file
titanic_df = pd.read_csv('titanic.csv')

# Create a pivot table with multiple indexes
pivot_table = titanic_df.pivot_table(index=['Sex', 'Pclass'], aggfunc={'Age': 'mean', 'Fare': 'mean'})

# Print the pivot table
print("Pivot Table with Multiple Indexes:")
print(pivot_table)

In [8]:
#4
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("Titanic.csv")

# Create a pivot table to find survival rate by gender on various classes
pivot_table = df.pivot_table(index='sex', columns='class', values='survived', aggfunc='mean')

print("Survival rate by gender on various classes:")
print(pivot_table)

Survival rate by gender on various classes:
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [9]:
#5
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("Titanic.csv")

# Create a pivot table to find survival rate by gender
pivot_table = df.pivot_table(index='sex', values='survived', aggfunc='mean')

print("Survival rate by gender:")
print(pivot_table)

Survival rate by gender:
        survived
sex
female  0.742038
male    0.188908

In [10]:
#6
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("Titanic.csv")

# Create a pivot table to find survival rate by gender, age wise of various classes
pivot_table = df.pivot_table(index=['sex', 'age'], columns='class', values='survived', aggfunc='mean')

print("Survival rate by gender and age wise of various classes:")
print(pivot_table)

Survival rate by gender and age wise of various classes:
class         First  Second  Third
sex    age
female 0.75     NaN     NaN   1.00
       1.00     NaN     NaN   1.00
       2.00     0.0     1.0   0.25
       3.00     NaN     1.0   0.00
       4.00     NaN     1.0   1.00
...             ...     ...    ...
male   70.00    0.0     0.0    NaN
       70.50    NaN     NaN   0.00
       71.00    0.0     NaN    NaN
       74.00    NaN     NaN   0.00
       80.00    1.0     NaN    NaN

[145 rows x 3 columns]

In [11]:
#7
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("Titanic.csv")

# Define the age categories
age_categories = pd.cut(df['age'], bins=[0, 10, 30, 60, 80], labels=['(0, 10)', '(10, 30)', '(30, 60)', '(60, 80)'])

# Add the age category column to the DataFrame
df['age_category'] = age_categories

# Display the DataFrame with age categories
print("Passengers partitioned into four categories based on their age:")
print(df[['age', 'age_category']])

Passengers partitioned into four categories based on their age:
      age age_category
0    22.0     (10, 30)
1    38.0     (30, 60)
2    26.0     (10, 30)
3    35.0     (30, 60)
4    35.0     (30, 60)
..    ...          ...
886  27.0     (10, 30)
887  19.0     (10, 30)
888   NaN          NaN
889  26.0     (10, 30)
890  32.0     (30, 60)

[891 rows x 2 columns]

In [12]:
#8
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("Titanic.csv")

# Define the age categories
age_categories = pd.cut(df['age'], bins=[0, 10, 30, 60, 80], labels=['(0, 10)', '(10, 30)', '(30, 60)', '(60, 80)'])

# Add the age category column to the DataFrame
df['age_category'] = age_categories

# Create a pivot table to count survival by gender, categories wise age of various classes
pivot_table = df.pivot_table(index=['sex', 'age_category'], columns='class', values='survived', aggfunc='sum')

print("Survival count by gender and categories wise age of various classes:")
print(pivot_table)

Survival count by gender and categories wise age of various classes:
class                First  Second  Third
sex    age_category
female (0, 10)           0       8     11
       (10, 30)         33      33     29
       (30, 60)         47      27      6
       (60, 80)          2       0      1
male   (0, 10)           2       9      8
       (10, 30)         11       1     21
       (30, 60)         26       4      9
       (60, 80)          1       1      0

In [13]:
#9
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("Titanic.csv")

# Define the age categories
age_categories = pd.cut(df['age'], bins=[0, 10, 30, 60, 80], labels=['(0, 10)', '(10, 30)', '(30, 60)', '(60, 80)'])

# Add the age category column to the DataFrame
df['age_category'] = age_categories

# Create a pivot table to find survival rate by gender, age of different categories of various classes
pivot_table = df.pivot_table(index=['sex', 'age_category'], columns='class', values='survived', aggfunc='mean')

print("Survival rate by gender and age of different categories of various classes:")
print(pivot_table)

Survival rate by gender and age of different categories of various classes:
class                   First    Second     Third
sex    age_category
female (0, 10)       0.000000  1.000000  0.500000
       (10, 30)      0.970588  0.916667  0.508772
       (30, 60)      0.979167  0.900000  0.272727
       (60, 80)      1.000000       NaN  1.000000
male   (0, 10)       1.000000  1.000000  0.363636
       (10, 30)      0.458333  0.023256  0.139073
       (30, 60)      0.412698  0.090909  0.118421
       (60, 80)      0.083333  0.333333  0.000000

In [14]:
#10
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("Titanic.csv")

# Define the age categories
age_categories = pd.cut(df['age'], bins=[0, 10, 30, 60, 80], labels=['(0, 10)', '(10, 30)', '(30, 60)', '(60, 80)'])

# Add the age category column to the DataFrame
df['age_category'] = age_categories

# Partition the fare column into 2 categories
fare_categories = pd.cut(df['fare'], bins=2, labels=['Low Fare', 'High Fare'])

# Add the fare category column to the DataFrame
df['fare_category'] = fare_categories

# Create a pivot table to find survival rate by gender, age, and fare categories of various classes
pivot_table = df.pivot_table(index=['sex', 'age_category'], columns=['class', 'fare_category'], values='survived', aggfunc='mean')

print("Survival rate by gender, age, and fare categories of different classes:")
print(pivot_table)

Survival rate by gender, age, and fare categories of different classes:
class                   First              Second     Third
fare_category        Low Fare High Fare  Low Fare  Low Fare
sex    age_category
female (0, 10)       0.000000       NaN  1.000000  0.500000
       (10, 30)      0.966667       1.0  0.916667  0.508772
       (30, 60)      0.978723       1.0  0.900000  0.272727
       (60, 80)      1.000000       NaN       NaN  1.000000
male   (0, 10)       1.000000       NaN  1.000000  0.363636
       (10, 30)      0.478261       0.0  0.023256  0.139073
       (30, 60)      0.393443       1.0  0.090909  0.118421
       (60, 80)      0.090909       0.0  0.333333  0.000000